.family{height: 300px;
width: auto; 
float: right;}

.logo{ height: 200px;
width: auto;
}

section a{
    color: lightslategray;
}
a:hover{
    text-decoration: none;
}

footer{ 
background: lightslategrey;}

header{background-color: lightslategray;
background-size: 200px;
text-align: center;
text-shadow: 2px 2px 5px black;}

body{ margin: 0 auto;
padding: 10px;
width: 1000px;
color: antiquewhite;
}

.work{text-align: right;}

section{background-color: midnightblue;
padding: 10px;
border: steelblue 2px solid ;}

.program{font-weight: bold;}
